<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planner</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'travels/style.css' %}">
</head>
<body>
    <a href="{% url 'travels:index' %}">Home</a>
    <a href="{% url 'travels:logout' %}">Logout</a>
    <h2>Add a Trip</h2>
    <form action="{% url 'travels:add_trip' %}" method="POST">
        {% csrf_token %}
        <p>Destination: <input type="text" name="destination"></p>
        <p>Description: <input type="text" name="desc"></p>
        <p>From: <input type="date" name="start_date"></p>
        <p>To: <input type="date" name="end_date"></p>
        <input type="submit" value="Add">
    </form>
    {% if messages %}
        {% for message in messages %}
            <h5>{{ message }}</h5>
        {% endfor %}
    {% endif %}
</body>
</html>